  @font-face {
  font-family: rdr2;
  src:url(rdr2.ttf);
}

body
{
 display: grid;
  grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  background: url(rdr1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
}

article
{
text-align: center;
background: #8B0000;
width: 1250px;
height: 665px;
border-radius: 5px;
font-family: 'rdr2', Arial, serif; font-weight: 400;
font-size: 50px;
color: white;
}

label{
  padding-right: 1000px;
  font-size: 20px;
}

#p1{
  font-size: 15px;
}

#p2{
  font-size: 15px;
}